<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcc.im.mapper.IUserMapper">
       <resultMap id="resultMap" type="com.vcc.im.dao.User">
          <id column="user_id" jdbcType="CHAR" property="userId" />
          <result column="user_account" jdbcType="CHAR" property="userAccount" />
          <result column="user_email" jdbcType="CHAR" property="userEmail" />
          <result column="user_nick_name" jdbcType="CHAR" property="userNickName" />
          <result column="user_password" jdbcType="CHAR" property="userPassword" />
          <result column="user_sex" jdbcType="CHAR" property="userSex" />
          <result column="user_sign" jdbcType="CHAR" property="userSign" />
          <result column="user_icon" jdbcType="CHAR" property="userIcon" />
          <result column="user_country" jdbcType="CHAR" property="userCountry" />
          <result column="user_mobile" jdbcType="CHAR" property="userMobile" />
          <result column="user_code" jdbcType="CHAR" property="userCode" />
          <result column="user_provice" jdbcType="CHAR" property="userProvice" />
          <result column="user_city" jdbcType="CHAR" property="userCity" />
          <result column="user_region" jdbcType="CHAR" property="userRegion" />
          <result column="create_time" jdbcType="DATETIME" property="createTime" />
          <result column="update_time" jdbcType="DATETIME" property="updateTime" />
          <result column="status" jdbcType="VARCHAR" property="status" />
       </resultMap>
      <sql id="columnList">user_id,user_account,user_email,user_nick_name,user_password,user_sex,user_sign,user_icon,user_country,user_mobile,user_code,user_provice,user_city,user_region,create_time,update_time,status</sql>

       <select id="getAll" parameterType="java.util.Map" resultMap="resultMap">
           select 
       <if test="field == null">
           <include refid="columnList" />
       </if>
       <if test="field != null" >
           ${field}
         </if>
       from ${tableName}
       <where>
           <foreach collection="condition" index="key" item="value">
               ${key} ${value}
           </foreach>
       </where>
       <if test="order != null">
           order by ${order}
       </if>
       <if test="limit != 0">
           <if test="offset != 0" >
               limit ${offset},${limit}
           </if>
           <if test="offset == 0">
               limit ${limit}
           </if>
       </if>

     </select>

       <select id="getCount" resultType="java.lang.Integer">
           select 
       <if test="field == null">
count(id) 
       </if>
       <if test="field != null" >
           ${field}
         </if>
       from ${tableName}
       <where>
           <foreach collection="condition" index="key" item="value">
               ${key} ${value}
           </foreach>
       </where>
       <if test="order != null">
           order by ${order}
       </if>
       <if test="limit != 0">
           <if test="offset != 0" >
               limit ${offset},${limit}
           </if>
           <if test="offset == 0">
               limit ${limit}
           </if>
       </if>

     </select>

       <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true"  keyProperty="userId">
         insert into ${tableName} (
             user_id,user_account,user_email,user_nick_name,user_password,user_sex,user_sign,user_icon,user_country,user_mobile,user_code,user_provice,user_city,user_region,create_time
         ) values 
           <foreach collection="list" item="entity" index="index" separator=",">
           (
             #{entity.userId},#{entity.userAccount},#{entity.userEmail},#{entity.userNickName},#{entity.userPassword},#{entity.userSex},#{entity.userSign},#{entity.userIcon},#{entity.userCountry},#{entity.userMobile},#{entity.userCode},#{entity.userProvice},#{entity.userCity},#{entity.userRegion},#{entity.createTime}
         )
           </foreach>
     </insert>

       <insert id="insertTo"  useGeneratedKeys="true"  keyProperty="entity.userId">
         insert into ${tableName} (
             user_id,user_account,user_email,user_nick_name,user_password,user_sex,user_sign,user_icon,user_country,user_mobile,user_code,user_provice,user_city,user_region,create_time
         ) values 
           (
             #{entity.userId},#{entity.userAccount},#{entity.userEmail},#{entity.userNickName},#{entity.userPassword},#{entity.userSex},#{entity.userSign},#{entity.userIcon},#{entity.userCountry},#{entity.userMobile},#{entity.userCode},#{entity.userProvice},#{entity.userCity},#{entity.userRegion},#{entity.createTime}
         )

     </insert>

       <update id="updateBatch"  parameterType="java.util.List">
           <foreach collection="list" item="entity" index="index" separator="," >
               update ${tableName} set 
               <if test="field == null">
                   user_id=#{entity.userId},user_account=#{entity.userAccount},user_email=#{entity.userEmail},user_nick_name=#{entity.userNickName},user_password=#{entity.userPassword},user_sex=#{entity.userSex},user_sign=#{entity.userSign},user_icon=#{entity.userIcon},user_country=#{entity.userCountry},user_mobile=#{entity.userMobile},user_code=#{entity.userCode},user_provice=#{entity.userProvice},user_city=#{entity.userCity},user_region=#{entity.userRegion},status=#{entity.status}
           </if>
              <if test="field != null" >
                ${field}
             </if>
               <where>
                <foreach collection="condition" index="key" item="value">
                     ${key} ${value}
                </foreach>
            </where>
           </foreach>
     </update>

       <update id="update"  >
               update ${tableName} set 
               <if test="field == null">
                   user_id=#{entity.userId},user_account=#{entity.userAccount},user_email=#{entity.userEmail},user_nick_name=#{entity.userNickName},user_password=#{entity.userPassword},user_sex=#{entity.userSex},user_sign=#{entity.userSign},user_icon=#{entity.userIcon},user_country=#{entity.userCountry},user_mobile=#{entity.userMobile},user_code=#{entity.userCode},user_provice=#{entity.userProvice},user_city=#{entity.userCity},user_region=#{entity.userRegion},update_time=#{entity.updateTime},status=#{entity.status}
           </if>
              <if test="field != null" >
                ${field}
             </if>
               <where>
                <foreach collection="condition" index="key" item="value">
                     ${key} ${value}
                </foreach>
            </where>
     </update>

       <update id="updateBatchById"  parameterType="java.util.List">
           <foreach collection="list" item="entity" index="index" separator="," >
               update ${tableName} set 
               <if test="field == null">
                   user_id=#{entity.userId},user_account=#{entity.userAccount},user_email=#{entity.userEmail},user_nick_name=#{entity.userNickName},user_password=#{entity.userPassword},user_sex=#{entity.userSex},user_sign=#{entity.userSign},user_icon=#{entity.userIcon},user_country=#{entity.userCountry},user_mobile=#{entity.userMobile},user_code=#{entity.userCode},user_provice=#{entity.userProvice},user_city=#{entity.userCity},user_region=#{entity.userRegion},status=#{entity.status}
           </if>
              <if test="field != null" >
                ${field}
             </if>
            where
                    user_id = #{entity.userId}
           </foreach>
     </update>

       <update id="updateById"  >
               update ${tableName} set 
               <if test="field == null">
                   user_id=#{entity.userId},user_account=#{entity.userAccount},user_email=#{entity.userEmail},user_nick_name=#{entity.userNickName},user_password=#{entity.userPassword},user_sex=#{entity.userSex},user_sign=#{entity.userSign},user_icon=#{entity.userIcon},user_country=#{entity.userCountry},user_mobile=#{entity.userMobile},user_code=#{entity.userCode},user_provice=#{entity.userProvice},user_city=#{entity.userCity},user_region=#{entity.userRegion},update_time=#{entity.updateTime},status=#{entity.status}
           </if>
              <if test="field != null" >
                ${field}
             </if>
            where
                    user_id = #{entity.userId}
     </update>

</mapper>
